appDemo/target/*
appDemo/.settings/*
appDemo/.mvn/*
appDemo/.classpath
appDemo/.project

routerDemo/target/*
routerDemo/.settings/*
routerDemo/.mvn/*
routerDemo/.classpath
routerDemo/.project

authorServer/target/*
authorServer/.settings/*
authorServer/.mvn/*
authorServer/.classpath
authorServer/.project